<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704726588529-4agubfqol9jpelvfuug894jq197qidsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704726588529-4agubfqol9jpelvfuug894jq197qidsh</string>
	<key>API_KEY</key>
	<string>AIzaSyAAPwtb6Mi2D2GRGTDKMxUMiF9ZAUQ3S5E</string>
	<key>GCM_SENDER_ID</key>
	<string>704726588529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.Tabisho</string>
	<key>PROJECT_ID</key>
	<string>tabisho</string>
	<key>STORAGE_BUCKET</key>
	<string>tabisho.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704726588529:ios:ad59d951ca4d202d74cfd0</string>
</dict>
</plist>